{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}account{% endblock %}

{% block page_title %}{% trans "Bad Token" %}{% endblock %}

{% block site_main %}
  <section class="account__wrapper">
    <h1 class="account__title">{% trans "Bad Token" %}</h1>
    {% url "account_password_reset" as url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
  </section>
{% endblock %}